@model IEnumerable<CryptopediaWebApp.Models.TokenDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Token/New">New Token</a>
@foreach (var token in Model)
{
    <h2><a href="/Token/Details/@token.TokenID">@token.TokenName</a></h2>
    <div>Token Creation Year: @token.TokenCreationYear</div>
    <div>Token Description: @token.TokenDescription</div>
    <div>Network Standard: @token.NetworksStandard</div>
}

