@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rules</h1>
    <p class="lead">1. Give credit and cite your source</p>
    <p class="lead">2. Do not post unrelated content</p>
    <p class="lead">3.Do not use this platform as a communication forum. That's not the purpose of it!</p>
    <p class="lead">4. Watch your terms. You don't want to have your contribution removed for improper language.</p>
    <p class="lead">5. Respect every contribution so you contribution will be respected too.</p>
    <p class="lead">Contributions that are not aligned to this 5 basic rules will be evaluated and removed if necessary.</p>


    <p> </p>
</div>