@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="logo">Criptopedia</h1>
    <p class="lead">We're a free source of Crypto Currency information.</p>
    <p>Feel free to make your contributions and help our community to grow even more!</p>
    <p><a class="btn btn-default" href="https://localhost:44311/Rules">See Basic Rules</a></p>


</div>
